.header {
    background: #243d2f;
    background: -webkit-linear-gradient(to left, #243d2f, #1c0e54);
    background: -moz-linear-gradient(to leftt, #243d2f, #1c0e54);
    background: linear-gradient(to left, #243d2f, #1c0e54);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.header button{
    background-color: transparent;
    color: #fff;
    border: none;
    opacity:0.8;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 30px;
    padding-right: 30px;
}
.header div {
    margin: 2px;
    height:100%;
    width: 200px;
}
.div1{
    width:1000px;
}
.user_bar{
    display: flex;
}

.react-movie,
.login-icon{
    width: 60%;
    height: 60%;
}
.login{
    width: 15%;
    height: 15%;
}
.profileimg{
    width: 30%;
    height: 30%;
}

.link-left{
    float: left;
}